#navbar{
    background-color: black;
    width: 100%;
    top: 0;
    right: 0;
    height: 75px;
    left: 0;
    display: flex;
}
#categories{
    background-color: #141414;
    width: 100%;
    top: 0;
    right: 0;
    height: 53px;
    left: 0;
}
#nav_contain{
    height: 128px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-logo{
    width: 270px;
    height: 75px;
    /* border: 1px solid white; */
}
.nav-logo > a{
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 55%;
    /* border: 1px solid red; */
}
.nav-logo > a > img{
    /* border: 1px solid fuchsia; */
    width: 100%;
    height: 100%;
}
.input-div{
    /* border: 1px solid white; */
    width: 700px;
}
.input-div > input{
    width: 500px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #989898;
    background-color: #212121;
    outline: none;
    height: 50%;
    margin-top: 15px;
    padding-left: 20px;
    color: white;
}
.input-div > button{
    height: 55%;
    width: 100px;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: white;
    margin-left: -5px;
}
.login-div{
    width: 200px;
    display: flex;
    padding-left: 80px;
}
.login-div > button{
    height: 39px;
    width: 106px;
    color: white;
    font-size: 15px;
    background-color: black;
    margin-top: 15px;
    border: none;
}
.login-div > div{
    margin-top: 15px;
    height: 39px;
    width: 19px;
}
.login-div > div > svg{
    margin-top: 10px;
}
.cart-div{
    display: flex;
    margin-left: 50px;
    width: 100px;
}
.cart-div > div{
    width: 33%;
    align-items: center;
}
.cart-div > div > a > svg{
    margin-top: 25px;
}
.cat-contain{
    width: 45%;
    height: 96%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    /* border: 1px solid red; */
}
.make-hover{
    width: 60px;
}
.make-hover:hover{
    border-bottom: 2px solid #fc2779; 
}
.make-hover > a{
    display: block;
    color: white;
    text-decoration: none;
    height: 100%;
    text-align: center;
    /* border: 1px solid red; */
    font-family: sans-serif;
}
.make-hover > div{
    display: none;
    margin-top: -13px; 
    width: 700px;
    height: 350px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.make-hover:hover > div{
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
}
/* .make-hover > div > div{
    border: 1px solid red;
} */
.make-hover > div > div > a{
    text-decoration: none;
    display: block;
    width: 40px;
    margin-left: 30px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
    font-size: 15px;
    font-family: sans-serif;
}
.make-hover > div > div > a:hover{
    color: #fc2779;
}
.make-list > li > a{
    color: #757575;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: sans-serif;
}
.make-list > li > a:hover{
    text-shadow: 0 0 .05px #757575;
}
.make-list > li{
    color: #757575;
    margin-top: 10px;
}
#body{
    height: 20000px;
    margin-left: -8px;
    width: 101%;
    border: 1px solid red;
    margin-top: 128px;
}
.slider{
    width: 100%;
    height: 350px;
}
.slider > a{
    display: block;
    width: 100%;
    height: 100%;
}
.slider > a > img{
    width: 100%;
    height: 100%;
}
.bestSeller{
    background-image: url("https://media.sugarcosmetics.com/upload/homePageBackGroundTexture.jpg");
    width: 100%; 
    padding-top: 30px;
    height: 600px;
}
.cards{
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    /* border: 1px solid white; */
}
.cards > button{
    display: none;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: none;
    margin-top: 170px;
}
.cards:hover > button{
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: none;
    margin-top: 170px;
}
.card-contain{
    width: 94%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.card-contain > a{
    display: block;
    width: 23%;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 12px;
    text-align: center;
    background-color: #F2F2F2;
}
.card-contain > a > div > img{
    background-color: #F2F2F2;
    height: 60%;
    width: 68%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-contain > a > div > button{
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
    height: 44px;
    width: 222px;
    border: none;
    font-family: sans-serif;
}
.card-contain > a > div > h1{
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
}
/* slider */
.swiper {
    width: 94%;
    border-radius: 12px;
    margin: auto;
    margin-top: 20px;
    height: 290px;
  }
  .swiper > .swiper-btn{
      display: none;
  }
  .swiper:hover > .swiper-btn{
    display: block;
}
  .swiper-slide {
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 494px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide > a {
    width: 100%;
    height: 100%;
  }
  .swiper1{
    width: 100%;
    height: 100%;
  }
  .swiper1 > img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
  .card-contain1{
    width: 94%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.card-contain1 > a{
    display: block;
    width: 23%;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 12px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}
.card-contain1 > a > div > img{
    background-color: #F2F2F2;
    height: 60%;
    width: 68%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-contain1 > a > div > button{
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
    height: 44px;
    width: 222px;
    border: none;
    font-family: sans-serif;
}
.card-contain1 > a > div > h1{
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
}